body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #03201c;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #1B7477;
font-size:20px;
content: "W3Docs";
display: 1 flex;
background-image: linear-gradient(180deg, rgba(255, 255, 255, .0) 10%, rgba(255, 255, 255, .5));
text-shadow: 20cap;
margin: 0%;
position: absolute;
left: 25%;
}
h1, h2, h3 {
    margin: 10px 0;
}
p {
    margin: 5px 0;
}
.head{
background: #1B7477;
font-size:20px;
content: "W3Docs";
display: 1 flex;
background-image: linear-gradient(180deg, rgba(255, 255, 255, .0) 10%, rgba(255, 255, 255, .5));
text-shadow: 20cap;




}
.detail{

position: relative;
margin: 3%;
}
.name{
margin: 3%;
}
.resume-image{
width: 25%;
height: 18%;
display: block;
position: absolute;
top: 4%;
left: 80%;
transform: translateX(-50%);
border: 2px solid #ffffff; /* Optional border */
box-sizing: border-box;
border-radius: 50%;
}
.icon-containergit {
    width: 50px; /* Adjust the width of the circular frame */
    height: 50px; /* Adjust the height of the circular frame */
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; /* Add spacing between icons */
    background-color: #ffffff; /* Optional background color */
    text-align: center;
    line-height: 50px; /* Center the icon vertically */
    position: relative;
}
.icon-containerlink {
    width: 50px; /* Adjust the width of the circular frame */
    height: 50px; /* Adjust the height of the circular frame */
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; /* Add spacing between icons */
    background-color: #ffffff; /* Optional background color */
    text-align: center;
    line-height: 50px; /* Center the icon vertically */
    position: absolute;
    top: 2%;
    left: 120%;
}
.icon-containerfb {
    width: 50px; /* Adjust the width of the circular frame */
    height: 50px; /* Adjust the height of the circular frame */
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; /* Add spacing between icons */
    background-color: #ffffff; /* Optional background color */
    text-align: center;
    line-height: 50px; /* Center the icon vertically */
    position: absolute;
    top: 2%;
    left: 240%;
   
}
.icon-containerin {
    width: 50px; /* Adjust the width of the circular frame */
    height: 50px; /* Adjust the height of the circular frame */
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; /* Add spacing between icons */
    background-color: #ffffff; /* Optional background color */
    text-align: center;
    line-height: 50px; /* Center the icon vertically */
    position: absolute;
    top: 2%;
    left: 375%;
}
    
  
  

